<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<script src="/assets/javascript/slider.js"></script>
<script src="/assets/javascript/sliderBtn.js"></script>
<script src="/assets/javascript/storage.js"></script>
<script src="/assets/javascript/toggleCategory.js"></script>
<script src="/assets/javascript/archive.js" defer></script>
<script src="/assets/javascript/search.js" defer></script>
<title>Archive</title>
<%- include('../partials/after-head.ejs') %>
<% nav = [{icon: 'chevron-back-outline', link: '/'}, 'Archive', {icon: 'settings-sharp', link: '/settings'}] %>
<%- include('../partials/header.ejs') %>
<main>
  <ul id="category-list">
  </ul>
</main>
<%- include('../components/category.ejs') %>
<%- include('../components/article.ejs') %>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>