<%- include('../partials/head.ejs') %>
<script src="/assets/javascript/slider.js"></script>
<script src="/assets/javascript/storage.js"></script>
<script src="/assets/javascript/categories.js"></script>
<script src="/assets/javascript/articles.js" defer></script>
<title>Newsbox</title>
<%- include('../partials/after-head.ejs') %>
<% nav = [{icon: 'file-tray-outline', link: '/archive'}, 'Newsbox', {icon: 'settings-sharp', link: '/settings'}] %>
<%- include('../partials/header.ejs') %>
<main class="">
  <ul id="category-list">
  </ul>
</main>
<%- include('../components/category.ejs') %>
<%- include('../components/article.ejs') %>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>