<%- include('../partials/head.ejs') %>
<script src="/assets/javascript/settings.js" defer></script>
<title>Settings</title>
<%- include('../partials/after-head.ejs') %>
<% nav = [{icon: 'chevron-back-outline', link: '/'}, 'Settings', {icon: 'none', link: ''}] %>
<%- include('../partials/header.ejs') %>
<main>

</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>